.menu_option {
    width: 98%;
    height: 40px;
    display: flex;
}

.department_filter{
    width: 250px;
    margin-left: 20px;
}

.option_btn_select {
    text-decoration: none;
    color: #ed0000;
    height: 100%;
    padding: 10px;
    transition: all 0.4s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    width: 180px;
    display: flex;
    justify-content: start;
    align-items: center;
}


.search {
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 40%;
}

.create_btn {
    text-decoration: none;
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    height: 100%;
    width: 155px;
    padding: 5px;
    transition: all 0.4s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_btn:hover {
    background-color: #c30202;
}

.menu_cartoes {
    margin-top: 40px;
    width: 98%;
    height: 80%;
    display: flex;
}

.margem_colunas {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.086);
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: start;
    align-items: center;
}

.colunas {
    height: 100%;
    width: 22%;
}

.afazer {
    background-color: #c51503;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 2px;
    color: white;
    border-radius: 8px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    text-decoration: none;

}

.text_title {
    font-weight: 600;
}

.afazer:hover {
    background-color: #930f01;

}

.fazer_card {
    border-left: 4px solid #c51503;
    /* Cor da linha esquerda para "fazer" */
    border-radius: 8px;
}

.andamento {
    background-color: #BFBC00;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 2px;
    color: white;
    border-radius: 8px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    text-decoration: none;

}

.andamento:hover {
    background-color: rgb(177, 175, 0);

}

.andamento_card {
    border-left: 4px solid #BFBC00;
    /* Cor da linha esquerda para "andamento" */
    border-radius: 8px;
}

.concluida {
    background-color: #17BF00;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 2px;
    color: white;
    border-radius: 8px;
    text-transform: uppercase;
    transition: all 0.2s ease;

}

.concluida:hover {
    background-color: #0f7d00;

}

.concluida_card {
    border-left: 4px solid #17BF00;
    /* Cor da linha esquerda para "concluida" */
    border-radius: 8px;

}

.cancelada {
    background-color: #6F6F6F;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 2px;
    color: white;
    border-radius: 8px;
    text-transform: uppercase;
    transition: all 0.2s ease;

}

.cancelada:hover {
    background-color: #6F6F6F;

}

.cancelada_card {
    border-left: 4px solid #6F6F6F;
    /* Cor da linha esquerda para "cancelada" */
    border-radius: 8px;

}

.text_data {
    display: flex;
    margin: auto;
    justify-content: start;
    align-items: center;
}

/* Classe para o ícone do relógio em preto */
.black-clock {
    color: rgb(0, 0, 0);
}

/* Classe para o ícone do relógio em amarelo */
.yellow-clock {
    color: yellow;
}

/* Classe para o ícone do relógio em vermelho */
.red-clock {
    color: red;
}

.text_ver_mais {
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
}

.lupa{
    color: #930f01;
}
.lupa:hover{
    color: #380600;
}